---
import Layout from "~/layouts/Layout.astro";
import Prose from "~/components/Prose.astro";
import BackArrow from "~/components/icons/BackArrow.astro";
import { getEntryBySlug, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { post: post.slug } }));
}

const { post } = Astro.params;
const entry = await getEntryBySlug("blog", post);

if (!entry) {
  return { status: 404 };
}

const { title } = entry.data;
const { Content } = await entry.render();
---

<Layout title={title}>
  <article class="col-span-full max-w-screen-md">
    <a
      href="/#blog"
      class="group/arrow mb-10 flex items-center space-x-2 text-sm text-slate-400 no-underline"
    >
      <BackArrow
        class="inline size-3 transition-transform group-hover/arrow:-translate-x-2"
      /><span class="inline">Home</span>
    </a>
    <Prose class="mx-auto mt-4">
      <Content />
    </Prose>
  </article>
</Layout>
