---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="alexanderflink.com | blog">
    <section class="col-span-full">
        <ul class="mt-4 space-y-24">
            {
                posts.map((post) => (
                    <li>
                        <Article href={`/blog/${post.slug}`} {...post.data} />
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    .links {
        a {
            position: relative;
        }
        a::after {
            z-index: -1;
            content: " ";
            height: 10px;
            width: calc(100% + 10px);
            bottom: 5px;
            left: -5px;
            background-color: yellow;
            position: absolute;
            @apply bg-yellow-300;
        }
    }

    .intro-text {
        perspective: 1000px;
        .animation {
            /* animation: rotateIntroText 3s infinite; */
        }
    }

    @keyframes rotateIntroText {
        0% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(20deg) rotateX(20deg);
        }
        100% {
            transform: rotateY(0deg);
        }
    }
</style>

<script>
    const introText = document.getElementById("intro-text");
</script>
