---
import Layout from "~/layouts/Layout.astro";
import Article from "~/components/Article.astro";
import DownArrow from "~/components/icons/DownArrow.astro";
import { getCollection } from "astro:content";

const recentPosts = await getCollection("blog");
---

<Layout title="alexanderflink.com">
  <section
    id="intro-text"
    class="fade-in intro-text links [&_a]: col-span-full flex h-[calc(100svh-var(--header-height))] flex-col justify-center font-serif text-3xl font-light [--intro-animation-delay:0.3s] lg:text-4xl xl:text-5xl [&_a]:font-sans"
  >
    <div class="-mt-[10svh]">
      <p>
        Web developer currently working at <a href="https://noaignite.se"
          >noaignite.se</a
        >
      </p>
      <p class="mt-6">
        Find me on <a href="https://github.com/alexanderflink">github</a> and <a
          href="https://www.linkedin.com/in/alexander-flink-842b1914a"
          >LinkedIn</a
        >
      </p>
      <p class="mt-6 text-xl lg:mt-14">
        or email me at <a href="mailto:hi@alexanderflink.com"
          >hi@alexanderflink.com</a
        >
      </p>
    </div>
  </section>
  <a
    href="#blog"
    class="fade-in group/arrow linear absolute bottom-[10%] left-1/2 -translate-x-1/2 transition-opacity duration-300 [--intro-animation-delay:1s] group-[.scrolled-down]:opacity-0"
  >
    <span class="text-sm">Blog</span>
    <DownArrow
      class="size-6 transition-transform group-hover/arrow:translate-y-2"
    />
  </a>
  <section class="fade-in col-span-full [--intro-animation-delay:1.5s]">
    <h1 id="blog" class="font-serif text-5xl">Blog</h1>
    <p class="mt-6 text-lg">
      Semi-regular posts about web development, programming, and other things I
      find interesting.
    </p>
    <ul class="mt-20 grid auto-rows-fr gap-8 lg:grid-cols-2">
      {
        recentPosts.map((post) => (
          <li class="@container">
            <Article
              class="h-full"
              href={`/blog/${post.slug}`}
              {...post.data}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .links {
    a {
      position: relative;
    }
    a::after {
      z-index: -1;
      content: " ";
      height: 20%;
      width: calc(100% + 10px);
      bottom: 5px;
      left: -5px;
      background-color: yellow;
      position: absolute;
      @apply bg-yellow-300;
      transform-origin: 100% 0%;
      translate: 0 0 0.1px;
      animation:
        underlines-scale 1s,
        underlines-origin 1s step-end;
      animation-play-state: paused;
    }
  }

  @keyframes underlines-scale {
    0% {
      transform: scaleX(100%);
    }
    50% {
      transform: scaleX(0%);
    }
    100% {
      transform: scaleX(100%);
    }
  }

  @keyframes underlines-origin {
    50% {
      transform-origin: 0% 0%;
    }
  }
</style>

<script>
  // add javascript hover instead of css to avoid canceling the hover animations prematurely
  const animatedLinks = document.querySelectorAll(".links a");
  animatedLinks.forEach((link) => {
    const animations = link.getAnimations({ subtree: true });

    link.addEventListener("mouseenter", () => {
      animations.forEach((animation) => {
        animation.play();
      });
    });
  });
</script>
