---
import { twMerge } from "tailwind-merge";
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={twMerge(
    className,
    "prose text-current md:prose-lg lg:prose-xl prose-headings:font-serif prose-headings:text-current prose-a:text-current prose-figure:my-10 prose-code:text-current",
  )}
>
  <slot />
</div>
