---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={`prose-lg prose-figure:my-10 prose-a:underline prose-a:font-bold prose-headings:font-serif prose-headings:text-neutral-700 text-neutral-700 ${className}`}
>
  <slot />
</div>
